<nav class="navbar">
    <div class="navbar-brand">
        <a href="/" class="navbar-logo">
            <img src="images/init_logo_nobg.png" alt="Logo" class="logo-img" />
            Init
        </a>

        <div class="navbar-search-container">
            <img src="icons/search_icon.svg" alt="Search Icon" class="search-icon" />
            <input type="text" placeholder="Search..." class="navbar-search" />
        </div>
    </div>
</nav>