.navbar {
    background-color: var(--color-background);
    padding: var(--padding-navbar);
    box-shadow: var(--box-shadow-navbar);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40px;
    margin-right: var(--logo-margin);
}

.navbar-logo {
    display: flex;
    align-items: center;
    font-size: var(--font-size-logo);
    font-weight: var(--font-weight-logo);
    color: var(--color-text);
    text-decoration: none;
    letter-spacing: var(--letter-spacing);
    transition: color 0.3s ease;
}

    .navbar-logo:hover {
        opacity: 0.8;
        color: var(--color-accent);
    }


.navbar-search-container {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 6px;
    padding: 0.4rem 0.6rem;
    margin-left: auto;
    transition: background-color 0.3s ease;
}

    .navbar-search-container:focus-within {
        background-color: #444;
        box-shadow: 0 0 0 2px var(--color-accent);
    }

.search-icon {
    width: 20px;
    height: 20px;
    color: var(--color-subtle);
    margin-right: 0.5rem;
}

.navbar-search {
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-text);
    font-size: 1rem;
    width: 150px;
}

    .navbar-search::placeholder {
        color: var(--color-subtle);
    }