@page "/"
@inject HttpClient Http
@inject ITranslationService TranslateService

<h3>@TranslateService.Translate("MESSAGE")</h3>

@if (message == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@message.Text (@message.Timestamp)</p>
}

@code {
    private Message message;

    protected override async Task OnInitializedAsync()
    {
        TranslateService.OnLanguageChanged += LanguageChanged;

        message = await Http.GetFromJsonAsync<Message>("api/message");
    }

    private void LanguageChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        TranslateService.OnLanguageChanged -= LanguageChanged;
    }
}
