<div class="navbar-links">
    <a href="@AppRoutes.Home" class="nav-link">Home</a>
    <a href="@AppRoutes.About" class="nav-link">About</a>
    <a href="@AppRoutes.Services" class="nav-link">Services</a>
    <a href="@AppRoutes.Contact" class="nav-link">Contact</a>
</div>